/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.bundle/
log/*.log
pkg/
spec/internal/db/*.sqlite3
spec/internal/db/*.sqlite3-journal
spec/internal/log/*.log
spec/internal/tmp/
spec/internal/.sass-cache
spec/examples.txt
