---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v3.0
    body:
      encoding: UTF-8
      string: batch=%5B%7B%22method%22%3A%22GET%22%2C%22relative_url%22%3A%22%3Fid%3Dhttp%3A%2F%2Fwww.example.com%5Cu0026fields%3Dog_object%7Bengagement%7Bcount%7D%7D%22%7D%2C%7B%22method%22%3A%22GET%22%2C%22relative_url%22%3A%22%3Fid%3Dhttp%3A%2F%2Fwww.example.org%5Cu0026fields%3Dog_object%7Bengagement%7Bcount%7D%7D%22%7D%5D&access_token=1420797768191964%7Cq63gy9OqxxZscrhQBAi1wNZRgKM&include_headers=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v3.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"code":200,"body":"{\"og_object\":{\"engagement\":{\"count\":34853332},\"id\":\"395320319544\"},\"id\":\"http:\\\/\\\/www.example.com\"}"},{"code":200,"body":"{\"og_object\":{\"engagement\":{\"count\":9651},\"id\":\"10150286660055425\"},\"id\":\"http:\\\/\\\/www.example.org\"}"}]'
  recorded_at: Fri, 11 May 2018 21:56:58 GMT
recorded_with: VCR 3.0.3
