---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v7.0
    body:
      encoding: UTF-8
      string: batch=%5B%7B%22method%22%3A%22GET%22%2C%22relative_url%22%3A%22%3Fid%3Dhttp%3A%2F%2Fwww.example.com%5Cu0026fields%3Dog_object%7Bengagement%7Bcount%7D%7D%22%7D%2C%7B%22method%22%3A%22GET%22%2C%22relative_url%22%3A%22%3Fid%3Dhttp%3A%2F%2Fwww.example.org%5Cu0026fields%3Dog_object%7Bengagement%7Bcount%7D%7D%22%7D%5D&access_token=<access-token>&include_headers=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v7.0
    body:
      encoding: ASCII-8BIT
      string: '[{"code":200,"body":"{\"og_object\":{\"engagement\":{\"count\":70859243},\"id\":\"395320319544\"},\"id\":\"http:\\\/\\\/www.example.com\"}"},{"code":200,"body":"{\"og_object\":{\"engagement\":{\"count\":14540},\"id\":\"449785557541\"},\"id\":\"http:\\\/\\\/www.example.org\"}"}]'
  recorded_at: Thu, 02 Jul 2020 18:56:05 GMT
recorded_with: VCR 3.0.3
