---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.8
    body:
      encoding: UTF-8
      string: batch=%5B%7B%22method%22%3A%22GET%22%2C%22relative_url%22%3A%22%3Fid%3Dhttp%3A%2F%2Fwww.example.com%22%7D%2C%7B%22method%22%3A%22GET%22%2C%22relative_url%22%3A%22%3Fid%3Dhttp%3A%2F%2Fwww.example.org%22%7D%5D&access_token=1415647432040331%7CB1P2PXEeAyPFRCmn9lzvuLEoC1Q&include_headers=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: ASCII-8BIT
      string: '[{"code":200,"body":"{\"share\":{\"comment_count\":25,\"share_count\":35741834},\"og_object\":{\"id\":\"395320319544\",\"description\":\"This
        domain is established to be used for illustrative examples in documents. You
        may use this domain in examples without prior coordination or asking for permission.\",\"title\":\"Example
        Domain\",\"type\":\"website\",\"updated_time\":\"2017-05-12T20:36:57+0000\"},\"id\":\"http:\\\/\\\/www.example.com\"}"},{"code":200,"body":"{\"share\":{\"comment_count\":3,\"share_count\":15880},\"og_object\":{\"id\":\"449785557541\",\"title\":\"http:\\\/\\\/www.example.org\\\/\",\"type\":\"website\",\"updated_time\":\"2017-05-12T14:02:31+0000\"},\"id\":\"http:\\\/\\\/www.example.org\"}"}]'
  recorded_at: Fri, 12 May 2017 20:38:43 GMT
recorded_with: VCR 3.0.3
