---
http_interactions:
- request:
    method: get
    uri: https://api.facebook.com/method/fql.query?format=json&query=select%20commentsbox_count,%20%20%20%20%20click_count,%20%20%20%20%20total_count,%20%20%20%20%20comment_count,%20%20%20%20%20like_count,%20%20%20%20%20share_count%20%20%20%20%20from%20link_stat%20%20%20%20%20where%20url=%22http://www.example.com%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '[{"commentsbox_count":453,"click_count":11,"total_count":14600717,"comment_count":103655,"like_count":1117478,"share_count":13379584}]'
  recorded_at: Thu, 18 Feb 2016 19:59:38 GMT
recorded_with: VCR 3.0.1
